<script type="text/javascript">
window.imActionsCallbacks = [];
window.imActionsCallbacks["FileDelete"] = {
    init: function(actionName, data, event) {
    },
    onSuccess: function(actionName, data, event, apiResult) {
        $(event.target).parent().parent().parent().parent().parent().remove();
        toastr.success("File '"+ data.Data.File + "' has been deleted.", "File deleted");
    },
    onError: function(actionName, data, event, apiResult) {
        toastr.error(apiResult.Collection.Error.Message, "Error deleting file");
    }
};
</script>

{{#.}}
<h3>Outdated Files</h3>
<p>List of outdated files (restricted to max 30 rows). Time evaluation property: <b>{{TimeEvaluationType}}</b>.</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Full Path</th>
            <th>Time</th>
            <th>Size (KB)</th>
            <th>State</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#Files}}
        <tr>
            <td>{{Name}}</td>
            <td>{{FullPath}}</td>
            <td>{{Time}}</td>
            <td>{{Size}}</td>     
            <td>{{Status}} (Code: {{StatusCode}})</td>
            <td class="text-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="category text-left">FILE</li>
                        <li class="divider"></li>
                        <li><a href="#" ng-click="action('FileContent', { Target: 'Modal', Confirm: { Enabled: true, Message: 'Are you sure to overwrite content in the active model?' }, Method: 'GET', SendDataInRequestBody: false, Data: { File: '{{EncodedFullPath}}' } }, $event)"><i class="fa fa-file-code-o"></i> Render in Modal</a></li>
                        <li><a href="#" ng-click="action('FileContent', { Target: 'Tab', Confirm: { Enabled: false, Message: '' }, Method: 'GET', SendDataInRequestBody: false, Data: { File: '{{EncodedFullPath}}' } }, $event)"><i class="fa fa-external-link"></i> Render in new Tab</a></li>
                        <li><a href="#" ng-click="action('FileDownload', { Target: 'Download', Confirm: { Enabled: false, Message: '' }, Method: 'GET', SendDataInRequestBody: false, Data: { identifier: '{{EncodedFullPath}}' } }, $event)"><i class="fa fa-download"></i> Download</a></li>
                        <li><a href="#" ng-click="action('FileEdit', { Target: 'Modal', Confirm: { Enabled: false, Message: '' }, Method: 'GET', SendDataInRequestBody: false, Data: { File: '{{EncodedFullPath}}' } }, $event)"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                        <li><a href="#" ng-click="action('FileDelete', { Target: 'None', Confirm: { Enabled: true, Message: 'Are you sure to delete file \'{{EncodedFullPath}}\'?' }, Method: 'GET', SendDataInRequestBody: false,  Data: { File: '{{EncodedFullPath}}' } }, $event)"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {{/Files}}
    </tbody>
</table>
{{/.}}