<script type="text/javascript">
window.imActionsCallbacks = [];
window.imActionsCallbacks["FileSave"] = {
    init: function(actionName, data, event) {
        data.Data.Content = $('#fileEditContent').val();
    },
    onSuccess: function(actionName, data, event, apiResult) {
        toastr.success("File '"+ data.Data.File + "' has been saved.", "File saved");
    },
    onError: function(actionName, data, event, apiResult) {
        console.log("error", data);
        toastr.error(apiResult.Collection.Error.Message, "Error saving file");
    }
};
</script>

{{#.}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{FullPath}}</title>
</head>
<body>
    <form ng-submit="action('FileSave', { Target: 'None', Confirm: { Enabled: false, Message: '' }, Method: 'POST', SendDataInRequestBody: true, Data: { File: '{{EncodedFullPath}}', Content: '' } }, $event)">
        <div class="form-group">
            <label for="exampleInputEmail1">File Content of file: {{FullPath}}</label>
            <textarea class="form-control" rows="20" id="fileEditContent">
                {{Content}}
            </textarea>
        </div>
        <button type="submit" class="btn btn-success pull-right"><i class="fa fa-check"></i> Save</button>
        <div class="clearfix"></div>
    </form>
</body>
</html>
{{/.}}