<script type="text/javascript">
window.imActionsCallbacks = [];
window.imActionsCallbacks["FileSave"] = {
    init: function(actionName, data, event) {
        console.log(data);
    },
    onSuccess: function(actionName, data, event, apiResult) {
        $(event.target).parent().parent().parent().parent().parent().remove();
        toastr.success("File '"+ data.Data.File + "' has been deleted.", "File deleted");
    },
    onError: function(actionName, data, event, apiResult) {
        console.log("error", data);
        toastr.error(apiResult.Collection.Error.Message, "Error deleting file");
    }
};
</script>

{{#.}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{FileName}}</title>
</head>
<body>
    <form ng-submit="action('FileSave', { Target: 'None', Confirm: { Enabled: false, Message: '' }, Method: 'POST', Data: { File: '{{EncodedFullPath}}', Content: $('#fileEditContent').val() } }, $event)">
        <div class="form-group">
            <label for="exampleInputEmail1">File Content</label>
            <textarea class="form-control" rows="20" id="fileEditContent">
                {{Content}}
            </textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</body>
</html>
{{/.}}